{
  "extends": "eslint-config-standard",
  "rules": {
    "no-console": "error",
    // 禁止使用var
    "no-var": "error",
    // 使用分号
    "semi": ["error", "always"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "comma-dangle": ["error", "always-multiline"],
    "generator-star-spacing": ["error", { "before": true, "after": false }],
    "standard/no-callback-literal": "off",
    /**
     * 禁止函数的循环复杂度超过 20
     * @reason https://en.wikipedia.org/wiki/Cyclomatic_complexity
     */
    "complexity": [
      "error",
      {
        "max": 20
      }
    ],
    /**
     * getter 必须有返回值，并且禁止返回空
     */
    "getter-return": "error",
    /**
     * 代码块嵌套的深度禁止超过 5 层
     */
    "max-depth": ["error", 5],
    /**
     * 回调函数嵌套禁止超过 3 层，多了请用 async await 替代
     */
    "max-nested-callbacks": ["error", 3],
    /**
     * 函数的参数禁止超过 7 个
     */
    "max-params": ["error", 7],
    /**
     * 禁止直接使用 Buffer
     * @reason Buffer 构造函数是已废弃的语法
     */
    "no-buffer-constructor": "error",
    /**
     * 禁止重复导入模块
     */
    "no-duplicate-imports": "error",
    /**
     * 禁止出现空代码块，允许 catch 为空代码块
     */
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    /**
     * 禁止使用 foo == null，必须使用 foo === null
     */
    "no-eq-null": "error",
    /**
     * 禁止使用特殊空白符（比如全角空格），除非是出现在字符串、正则表达式或模版字符串中
     */
    "no-irregular-whitespace": [
      "error",
      {
        "skipStrings": true,
        "skipComments": false,
        "skipRegExps": true,
        "skipTemplates": true
      }
    ],
    /**
     * 禁止对函数的参数重新赋值
     */
    "no-param-reassign": "error",

    /**
     * 必须使用 ... 而不是 Object.assign，除非 Object.assign 的第一个参数是一个变量
     */
    "prefer-object-spread": "error",
    /**
     * generator 函数内必须有 yield
     */
    "require-yield": "error",
    /**
     * 必须使用 if (foo === 5) 而不是 if (5 === foo)
     */
    "yoda": [
      "error",
      "never",
      {
        "onlyEquality": true
      }
    ]
  }
}
